In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("Accident_train.csv")
df

,Collision_Ref_No,Policing_Area,Collision_Severity,Weekday_of_Collision,Day_of_Collision,Month_of_Collision,Hour_of_Collision,Carriageway_Type,Speed_Limit,Junction_Detail,Junction_Control,Ped_Crossing_HC,Ped_Crossing_PC,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site
0,3518,CREA,3,MON,4,8,14.0,13,60,1.0,1.0,1.0,1.0,2,9,9.0,1.0
1,10557,BELC,3,SAT,8,8,17.0,11,50,12.0,7.0,1.0,1.0,4,3,1.0,1.0
2,5002,LISB,3,WED,5,11,17.0,1,60,12.0,7.0,1.0,1.0,2,2,2.0,1.0
3,11714,BELC,3,SUN,18,10,16.0,12,70,6.0,NaN,1.0,1.0,1,3,1.0,1.0
4,12416,MIDU,3,MON,23,11,9.0,13,60,6.0,7.0,1.0,1.0,2,3,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10038,3535,LISB,3,TUE,5,8,10.0,11,70,10.0,7.0,1.0,1.0,3,9,1.0,1.0
10039,11675,ARND,3,FRI,16,10,8.0,13,30,1.0,1.0,1.0,1.0,3,1,1.0,1.0
10040,7222,ARND,3,FRI,16,1,9.0,13,60,12.0,7.0,1.0,1.0,3,2,1.0,1.0
10041,12320,BELC,3,WED,18,11,20.0,13,30,12.0,7.0,1.0,1.0,4,9,2.0,1.0
10042,10757,NEMD,3,FRI,21,8,14.0,13,60,1.0,1.0,1.0,1.0,2,3,2.0,NaN

In [3]:
for i in range(17):
    print("Null values in Column",i,":")
    nullCheck=df.iloc[:,i].isnull().sum()
    print(nullCheck)

Null values in Column 0 :
0
Null values in Column 1 :
334
Null values in Column 2 :
0
Null values in Column 3 :
0
Null values in Column 4 :
0
Null values in Column 5 :
0
Null values in Column 6 :
284
Null values in Column 7 :
0
Null values in Column 8 :
0
Null values in Column 9 :
293
Null values in Column 10 :
299
Null values in Column 11 :
321
Null values in Column 12 :
300
Null values in Column 13 :
0
Null values in Column 14 :
0
Null values in Column 15 :
309
Null values in Column 16 :
288

In [4]:
df=df.dropna()
df

,Collision_Ref_No,Policing_Area,Collision_Severity,Weekday_of_Collision,Day_of_Collision,Month_of_Collision,Hour_of_Collision,Carriageway_Type,Speed_Limit,Junction_Detail,Junction_Control,Ped_Crossing_HC,Ped_Crossing_PC,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site
0,3518,CREA,3,MON,4,8,14.0,13,60,1.0,1.0,1.0,1.0,2,9,9.0,1.0
1,10557,BELC,3,SAT,8,8,17.0,11,50,12.0,7.0,1.0,1.0,4,3,1.0,1.0
2,5002,LISB,3,WED,5,11,17.0,1,60,12.0,7.0,1.0,1.0,2,2,2.0,1.0
4,12416,MIDU,3,MON,23,11,9.0,13,60,6.0,7.0,1.0,1.0,2,3,1.0,1.0
5,558,FOYL,2,MON,3,2,12.0,13,60,1.0,1.0,1.0,1.0,2,2,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10035,11254,ARND,3,TUE,22,9,9.0,13,60,1.0,1.0,1.0,9.0,3,10,2.0,1.0
10038,3535,LISB,3,TUE,5,8,10.0,11,70,10.0,7.0,1.0,1.0,3,9,1.0,1.0
10039,11675,ARND,3,FRI,16,10,8.0,13,30,1.0,1.0,1.0,1.0,3,1,1.0,1.0
10040,7222,ARND,3,FRI,16,1,9.0,13,60,12.0,7.0,1.0,1.0,3,2,1.0,1.0
10041,12320,BELC,3,WED,18,11,20.0,13,30,12.0,7.0,1.0,1.0,4,9,2.0,1.0

In [5]:
for i in range(17):
    print("Null values in Column",i,":")
    nullCheck=df.iloc[:,i].isnull().sum()
    print(nullCheck)

Null values in Column 0 :
0
Null values in Column 1 :
0
Null values in Column 2 :
0
Null values in Column 3 :
0
Null values in Column 4 :
0
Null values in Column 5 :
0
Null values in Column 6 :
0
Null values in Column 7 :
0
Null values in Column 8 :
0
Null values in Column 9 :
0
Null values in Column 10 :
0
Null values in Column 11 :
0
Null values in Column 12 :
0
Null values in Column 13 :
0
Null values in Column 14 :
0
Null values in Column 15 :
0
Null values in Column 16 :
0

In [6]:
df=df.reset_index(drop=True)
df

,Collision_Ref_No,Policing_Area,Collision_Severity,Weekday_of_Collision,Day_of_Collision,Month_of_Collision,Hour_of_Collision,Carriageway_Type,Speed_Limit,Junction_Detail,Junction_Control,Ped_Crossing_HC,Ped_Crossing_PC,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site
0,3518,CREA,3,MON,4,8,14.0,13,60,1.0,1.0,1.0,1.0,2,9,9.0,1.0
1,10557,BELC,3,SAT,8,8,17.0,11,50,12.0,7.0,1.0,1.0,4,3,1.0,1.0
2,5002,LISB,3,WED,5,11,17.0,1,60,12.0,7.0,1.0,1.0,2,2,2.0,1.0
3,12416,MIDU,3,MON,23,11,9.0,13,60,6.0,7.0,1.0,1.0,2,3,1.0,1.0
4,558,FOYL,2,MON,3,2,12.0,13,60,1.0,1.0,1.0,1.0,2,2,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,11254,ARND,3,TUE,22,9,9.0,13,60,1.0,1.0,1.0,9.0,3,10,2.0,1.0
7848,3535,LISB,3,TUE,5,8,10.0,11,70,10.0,7.0,1.0,1.0,3,9,1.0,1.0
7849,11675,ARND,3,FRI,16,10,8.0,13,30,1.0,1.0,1.0,1.0,3,1,1.0,1.0
7850,7222,ARND,3,FRI,16,1,9.0,13,60,12.0,7.0,1.0,1.0,3,2,1.0,1.0
7851,12320,BELC,3,WED,18,11,20.0,13,30,12.0,7.0,1.0,1.0,4,9,2.0,1.0

In [7]:
df.Special_Conditions_at_Site.unique()

array([1., 5., 2., 6., 4.])

In [8]:
dummies1=pd.get_dummies(df['Policing_Area'])
dummies1

,ANTN,ANTR,ARBC,ARDS,ARMA,ARND,BANB,BELC,BELE,BELN,...,MEAN,MFEL,MIDU,MOYL,NABB,NDOW,NEMD,NEWM,OMAG,STRB
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7848,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7849,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7850,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7851,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
dummies2=pd.get_dummies(df['Weekday_of_Collision'])
dummies2

      FRI  MON  SAT  SUN  THU  TUE  WED
0       0    1    0    0    0    0    0
1       0    0    1    0    0    0    0
2       0    0    0    0    0    0    1
3       0    1    0    0    0    0    0
4       0    1    0    0    0    0    0
...   ...  ...  ...  ...  ...  ...  ...
7847    0    0    0    0    0    1    0
7848    0    0    0    0    0    1    0
7849    1    0    0    0    0    0    0
7850    1    0    0    0    0    0    0
7851    0    0    0    0    0    0    1

[7852 rows x 7 columns]

In [10]:
df.drop(['Policing_Area','Weekday_of_Collision'],axis='columns',inplace=True)
df=pd.concat([df,dummies1,dummies2],axis='columns')
df

,Collision_Ref_No,Collision_Severity,Day_of_Collision,Month_of_Collision,Hour_of_Collision,Carriageway_Type,Speed_Limit,Junction_Detail,Junction_Control,Ped_Crossing_HC,...,NEWM,OMAG,STRB,FRI,MON,SAT,SUN,THU,TUE,WED
0,3518,3,4,8,14.0,13,60,1.0,1.0,1.0,...,0,0,0,0,1,0,0,0,0,0
1,10557,3,8,8,17.0,11,50,12.0,7.0,1.0,...,0,0,0,0,0,1,0,0,0,0
2,5002,3,5,11,17.0,1,60,12.0,7.0,1.0,...,0,0,0,0,0,0,0,0,0,1
3,12416,3,23,11,9.0,13,60,6.0,7.0,1.0,...,0,0,0,0,1,0,0,0,0,0
4,558,2,3,2,12.0,13,60,1.0,1.0,1.0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,11254,3,22,9,9.0,13,60,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,1,0
7848,3535,3,5,8,10.0,11,70,10.0,7.0,1.0,...,0,0,0,0,0,0,0,0,1,0
7849,11675,3,16,10,8.0,13,30,1.0,1.0,1.0,...,0,0,0,1,0,0,0,0,0,0
7850,7222,3,16,1,9.0,13,60,12.0,7.0,1.0,...,0,0,0,1,0,0,0,0,0,0
7851,12320,3,18,11,20.0,13,30,12.0,7.0,1.0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
X=df.drop(['Collision_Severity','Collision_Ref_No'],axis='columns')
Y=df['Collision_Severity']
X

,Day_of_Collision,Month_of_Collision,Hour_of_Collision,Carriageway_Type,Speed_Limit,Junction_Detail,Junction_Control,Ped_Crossing_HC,Ped_Crossing_PC,Light_Conditions,...,NEWM,OMAG,STRB,FRI,MON,SAT,SUN,THU,TUE,WED
0,4,8,14.0,13,60,1.0,1.0,1.0,1.0,2,...,0,0,0,0,1,0,0,0,0,0
1,8,8,17.0,11,50,12.0,7.0,1.0,1.0,4,...,0,0,0,0,0,1,0,0,0,0
2,5,11,17.0,1,60,12.0,7.0,1.0,1.0,2,...,0,0,0,0,0,0,0,0,0,1
3,23,11,9.0,13,60,6.0,7.0,1.0,1.0,2,...,0,0,0,0,1,0,0,0,0,0
4,3,2,12.0,13,60,1.0,1.0,1.0,1.0,2,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,22,9,9.0,13,60,1.0,1.0,1.0,9.0,3,...,0,0,0,0,0,0,0,0,1,0
7848,5,8,10.0,11,70,10.0,7.0,1.0,1.0,3,...,0,0,0,0,0,0,0,0,1,0
7849,16,10,8.0,13,30,1.0,1.0,1.0,1.0,3,...,0,0,0,1,0,0,0,0,0,0
7850,16,1,9.0,13,60,12.0,7.0,1.0,1.0,3,...,0,0,0,1,0,0,0,0,0,0
7851,18,11,20.0,13,30,12.0,7.0,1.0,1.0,4,...,0,0,0,0,0,0,0,0,0,1

In [12]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=6)
X_train

,Day_of_Collision,Month_of_Collision,Hour_of_Collision,Carriageway_Type,Speed_Limit,Junction_Detail,Junction_Control,Ped_Crossing_HC,Ped_Crossing_PC,Light_Conditions,...,NEWM,OMAG,STRB,FRI,MON,SAT,SUN,THU,TUE,WED
6460,12,12,9.0,13,30,12.0,7.0,1.0,11.0,1,...,0,0,0,1,0,0,0,0,0,0
2097,17,1,7.0,13,50,12.0,7.0,1.0,1.0,7,...,0,0,0,1,0,0,0,0,0,0
4877,15,10,18.0,13,60,12.0,7.0,1.0,1.0,7,...,0,0,0,0,0,0,0,0,0,1
4483,28,7,8.0,13,30,10.0,7.0,1.0,1.0,5,...,0,0,0,0,1,0,0,0,0,0
7028,12,6,8.0,13,60,1.0,1.0,1.0,1.0,5,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4714,28,4,15.0,13,40,12.0,7.0,1.0,1.0,1,...,0,0,0,0,0,0,0,0,1,0
2004,22,12,18.0,13,30,1.0,1.0,1.0,1.0,7,...,0,0,0,0,0,0,0,0,1,0
227,14,3,16.0,13,60,1.0,1.0,1.0,1.0,2,...,0,0,0,1,0,0,0,0,0,0
2761,6,11,16.0,13,30,10.0,7.0,1.0,1.0,1,...,0,0,0,0,0,0,0,1,0,0
7050,19,2,22.0,13,60,10.0,7.0,1.0,1.0,6,...,0,0,0,0,0,0,0,1,0,0

In [13]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
knn1=KNeighborsClassifier(n_neighbors=3)
knn1.fit(X_train,Y_train)
Y_predicted=knn1.predict(X_test)
print("First Five Test Values:")
print(np.array(Y_test[0:5]))
print("First Five Predicted Values:")
print(Y_predicted[0:5])
print(knn1.score(X_test,Y_test))

First Five Test Values:
[3 3 3 3 3]
First Five Predicted Values:
[3 3 3 3 3]
0.8739656269891789

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
knn2=KNeighborsClassifier(n_neighbors=3)
knn2.fit(X,Y)
print(cross_val_score(knn2,X,Y,cv=10))
print(np.average(cross_val_score(knn2,X,Y,cv=10)))

[0.87022901 0.85496183 0.85095541 0.87133758 0.87261146 0.86496815
 0.86878981 0.84968153 0.86369427 0.85732484]
0.8624553897019499

In [15]:
from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=3)
Y_predicted=kmeans.fit_predict(X)
Y_predicted

array([0, 0, 0, ..., 2, 0, 2])

In [16]:
df['Severity_Result']=Y_predicted
df

,Collision_Ref_No,Collision_Severity,Day_of_Collision,Month_of_Collision,Hour_of_Collision,Carriageway_Type,Speed_Limit,Junction_Detail,Junction_Control,Ped_Crossing_HC,...,OMAG,STRB,FRI,MON,SAT,SUN,THU,TUE,WED,Severity_Result
0,3518,3,4,8,14.0,13,60,1.0,1.0,1.0,...,0,0,0,1,0,0,0,0,0,0
1,10557,3,8,8,17.0,11,50,12.0,7.0,1.0,...,0,0,0,0,1,0,0,0,0,0
2,5002,3,5,11,17.0,1,60,12.0,7.0,1.0,...,0,0,0,0,0,0,0,0,1,0
3,12416,3,23,11,9.0,13,60,6.0,7.0,1.0,...,0,0,0,1,0,0,0,0,0,0
4,558,2,3,2,12.0,13,60,1.0,1.0,1.0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,11254,3,22,9,9.0,13,60,1.0,1.0,1.0,...,0,0,0,0,0,0,0,1,0,0
7848,3535,3,5,8,10.0,11,70,10.0,7.0,1.0,...,0,0,0,0,0,0,0,1,0,0
7849,11675,3,16,10,8.0,13,30,1.0,1.0,1.0,...,0,0,1,0,0,0,0,0,0,2
7850,7222,3,16,1,9.0,13,60,12.0,7.0,1.0,...,0,0,1,0,0,0,0,0,0,0
7851,12320,3,18,11,20.0,13,30,12.0,7.0,1.0,...,0,0,0,0,0,0,0,0,1,2